* {
    padding: 0;
    margin: 0;
}
html,body {
    height:100%;
    font: 12px Arial, sans-serif;
    overflow:auto;
}
a:active,
a:hover,
a:visited,
a:link {
    text-decoration: none;
    color: black;
}
.sidebar{
    display:inline-block;
    overflow:auto;
    height:100%;
    padding:2%;
    float:left;
    width:13%;
}
.content{
    padding:2%;
    float:left;
    width:85%;
}
.sidebar ul li{
    display:block;
}
.main {
    display:block;
    position:relative;
    min-height:40rem;
    height:100%;
    font-size: 18px;
}
header {
    display:block;
    height:150px;
    width: 100%;
    padding: 2%;
    background-color: #999;
}
header span{
    float:right;
}
.footer {
    display:inline-block;
    position: relative;
    height:250px;
    width: 100%;
    background-color: #999;
    text-align:center;
}
.logout_container{
    display:flex;
    min-width:max-content;
    position:relative;
    float:right;
}

li {
    display: inline-block;
    padding-right: 10px;
    font-weight: bold;
}
